
body {
    font-family: 'Roboto', sans-serif;
}

p.title {
    text-align: center;
    font-size: 2em;
    font-weight: 900;
}

p.alert {
    font-size: small;
    font-style: italic;
    color: red;
}

p.errorAlert {
    text-align: center;
    font-size: large;
    /* font-style: italic; */
    font-weight: 600;
    color: red;
}

form.form_login {
    margin: auto;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

input.messageInput {
    position: absolute;
    font-size: small;
    font-weight: normal;
    text-align: left;
    padding-left: 20px;
    margin-top: 5px;
    margin-left: 5px;
    width: 700px;
    height: 25px;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    background-color: #f6f6f6;
}

input.formBox {
    font-size: large;
    color: #333;
    text-align: left;
    padding-left: 20px;
    margin-top: 25px;
    width: 700px;
    height: 50px;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    background-color: #f6f6f6;
}

button.joinBox {
    font-size: large;
    font-weight: bold;
    color: #f6f6f6;
    text-align: center;
    margin-top: 200px;
    width: 725px;
    height: 50px;
    border: 0px solid transparent;
    border-radius: 25px;
    background-color: #5DB075;
}

button.cancelButton {
    font-size: large;
    font-weight: bold;
    color: #f6f6f6;
    text-align: center;
    margin-top: 200px;
    width: 360px;
    height: 50px;
    border: 0px solid transparent;
    border-radius: 25px;
    background-color: #c43333;
}

button.oneCancelButton {
    font-size: large;
    font-weight: bold;
    color: #f6f6f6;
    text-align: center;
    margin-top: 200px;
    width: 725px;
    height: 50px;
    border: 0px solid transparent;
    border-radius: 25px;
    background-color: #c43333;
}

button.createButton {
    font-size: large;
    font-weight: bold;
    color: #f6f6f6;
    text-align: center;
    margin-top: 200px;
    margin-left: 2px;
    width: 360px;
    height: 50px;
    border: 0px solid transparent;
    border-radius: 25px;
    background-color: #3385c4;
}

div.wrapper {
    width: 700px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0%);
    height: 90px;
}

div.chatBox {
    overflow: auto;
    margin: auto;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    width: 700px;
    height: 450px;
    max-height: 450px;
}

form.chatInput {
    margin: auto;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    margin-top: 255px;
    width: 725px;
    height: 50px;
    border: 0px;
    border-radius: 25px;
    background-color: #e8e8e8;
}

input.chatInput {
    width: 650px;
    margin-left: 15px;
    height: 43px;
    border: 0px;
    border-radius: 25px;
    background-color: transparent;
}

button.exitButton {
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    font-weight: 700;
    color: #5DB075;
    position: fixed;
    margin-top: 45px;
    border: 0px transparent;
    background-color: transparent;
}

button.sendChat {
    color: #f6f6f6;
    width: 40px;
    height: 40px;
    margin-top: 3.5px;
    margin-left: 10px;
    border: 0px;
    border-radius: 25px;
    background-color: #5DB075;
}

ul {
    list-style-type: none;
}

li.chat {
    float: right;
    display: table;
}